<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습. Node.js - MySQL</title>
    <link rel="stylesheet" href="../static/index.css" />
    <script src="../static/index.js"></script>
  </head>
  <body>
    <h1>실습. Node.js - MySQL(회원가입과 로그인 DB 연동)</h1>

    <form name="login">
      <div class="login-area">
        <label for="userid">아이디</label>
        <input type="text" name="userid" id="userid" />
        <br />
        <label for="pw">비밀번호</label>
        <input type="password" name="pw" id="pw" />
      </div>
      <div class="loginResult"></div>
      <div class="click-area">
        <a href="/signup">회원가입</a>
        <a href="/signin">로그인</a>
      </div>
    </form>
  </body>
</html>
