body {
  margin: 0;
  box-sizing: border-box;
}
.container {
  text-align: center;
}

ul {
  list-style: none;
}
.header1 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  margin-bottom: 30px;
}

.header1 h3 {
  padding: 0 10px;
}

.header1 ul {
  display: flex;
  font-weight: 900;
}

.header1 ul li {
  padding: 0 10px;
}

.header2 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  margin-bottom: 30px;
}

.header2 div {
  font-weight: 900;
  padding: 0 10px;
}

.header3 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  margin-bottom: 30px;
}
